<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest comments</h3>
    </div>
    <div class="panel-body " id="popular-comment-box">
        <ul class="media-list">

            {{#each newComments}}

                <li class="media">


                    <a class="pull-left " href="/image/{{ relatedImage.linkId }}">
                        <img width="60px" height="60px" class="media-object  " src="/uploads/thumbnails/{{relatedImage.filename}}" alt="...">
                    </a>

                    <div class="media-body">
                        {{comments.text}}
                        <br/>
                        <small class="text-muted col-xs-12"> {{timeago comments.timestamp }}</small>
                    </div>
                </li>


            {{/each}}
        </ul>
    </div>
</div>
