<div class="page-header">
    <div class="">
        <div>
            <h1><a href="/">Imagesly</a></h1>
            <form class="" action="/logout" method="post">
                <button class="logoutbutton pull-right btn btn-primary" method="post" type="submit">
                    Logout
                </button>
            </form>
            <img class="pull-right gravatar-img"src="{{gravatarImg}}" alt="" />
        </div>
    </div>
</div>
