<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title">Most popular</h3>
    </div>
    <div class="panel-body " id="popular-img-box">

        {{#each popularImages}}
            <div class="col-md-6  col-xs-12 text-center popular-images full-section">
                <a href="/image/{{linkId}}"><img src="/uploads/thumbnails/{{filename}}" alt="#" style="min-height: 130px;" class="img-thumbnail "></a>
            </div>
        {{/each}}

    </div>
</div>
