<div class="error">
    <div class="error-code m-b-10 m-t-20">500<i class="fa fa-warning"></i></div>
    <h3 class="font-bold">Server Error</h3>

    <div class="error-desc">
        Something went wrong.....
        <div>
            <a class=" login-detail-panel-button btn" href="/">
                <i class="fa fa-arrow-left"></i> Go back to Homepage
            </a>
        </div>
    </div>
</div>
